<div class="lyfe-container">
  <div class="block">
    <div class="left">
      <h3 class="mt-3">
        Book a doctor, physio,
        psychologist and more...
      </h3>

      <h4 class="dimmed mt-3">
        Over 100,000 appointments to choose from, Australia-wide
      </h4>
      <div class="search-bar mt-3">
        <img src="assets/img/booklyfe/search.svg" alt="">
        <input type="text" placeholder="Try 'Physio' " />
      </div>
      <div class="services mt-3">
        <div class="service-block" *ngFor="let item of lyfeServices">
          <img src="{{ item.src }}" alt="" />
          <p>{{ item.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
